.body {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .body {
       width: calc(100vw - 30px);
        overflow: hidden;
    }
}


@media screen and (max-width: 460px) {
    .body {
        padding: 6px;
        padding-bottom: 0;
    }
}
