@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap";
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap';
@import "./theme/dark";
@import "./theme/light";
@import "./global.scss";
@import 'react-loading-skeleton/dist/skeleton.css';

$transitionDuration: 0.3s;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color $transitionDuration;
}

// button {
//     border: none;
//     background-color: transparent;
//     color: inherit;
//     font: inherit;
//     text-align:inherit;
//     text-decoration: none;
//     cursor: pointer;
//     outline: none;
//     transition: all 0.2s;
// }

// input {
//     border: none;
//     background-color: transparent;
//     color: inherit;
//     font: inherit;
//     text-align: inherit;
//     outline: none;
// }

input, button {
    outline: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

.app {
    width: 100%;
    height: 100%;
    font-family: Poppins, sans-serif;
    background-color: var(--body-bg);
}

textarea {
    resize: none;
    font-family: Poppins, sans-serif;
}

.block {
    &:not(:last-child) {
        margin-right: 20px;
    }

    width: calc(25% - 20px);
    min-width: 300px;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

