@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "./vars.scss";

$transitionDuration: 0.3s;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: background-color $transitionDuration;
  -moz-transition: background-color $transitionDuration;
  -ms-transition: background-color $transitionDuration;
  -o-transition: background-color $transitionDuration;
  transition: background-color $transitionDuration;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

input {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  outline: none;
}

//button:hover {
//  -webkit-transition: all 0.2s;
//  -moz-transition: all 0.2s;
//  -ms-transition: all 0.2s;
//  -o-transition: all 0.2s;
//  transition: all 0.2s;
//}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(#{--body-bg-default});
}

textarea {
  resize: none;
  font-family: "Poppins", sans-serif;
}

.block {
  &:not(:last-child) {
    margin-right: 20px;
  }
  width: calc(25% - 20px);
  min-width: 300px;
}

html,
body,
#root {
  height: 100%;
}
