.wrapper {
    background-color: #fff;
    border-radius: 5px;
    padding: 22px 28px;
    min-height: calc(100vh - 160px);
    position: relative;
}

.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 12px 18px;
    background-color: transparent;
}

.wrapper > h2 {
    font-weight: 400;
font-size: 24px;
line-height: 28px;
margin-bottom: 35px;
}

.wrapper > p {
    font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.wrapper  button {
    border: none;
    cursor: pointer;

}

.wrapper  input {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
 
    background-color: transparent;
}

.send {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #d0d0d0;
    margin-left: 10px;
}

.buttonEdit {
    margin-left: 10px;
    background-color: transparent;
}