.container {
  width: 30%;
  min-width: 300px;
  height: 100%;
  align-self: stretch;
  margin-left: 25px;
  margin-right: -24px;
border-radius: 10px 0 0px 10px;
  background-color: var(--popupBg-default);
  padding: 20px;
}