
.logo {
    margin-top: 21px;
    width: 30px;
    cursor: pointer;
    font: var(--font-l  );
    font-weight: 700;
    letter-spacing: 4px;
}

.sidebar
 {
    height: 100vh;
    width: 18vw;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    background-color: var(--HeaderBg);
    color: var(--altWbText);
    border-right: 2px solid var(--altWbText);
}
.nav_buttons{
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.nav_button {
    font: var(--font-m);
    display: flex;
  gap: 10px;
    align-items: center;
    letter-spacing: 2px;;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

}

hr{
    margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px solid var(--altWbText);
}

.space span{
    font: var(--font-m);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.space_team{
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font: var(--font-s);
    gap: 10px;
}
.bottom{
    margin-bottom: auto;
    height: 100%;

    position: relative;
}
.app_buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    button {
        color: var(--altWbText);
    }
}


@media screen and (max-width: 1200px){
  .logo {
    margin-left: 5px;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .app_buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;

    button {
      width: auto;
    }
  }

  .nav_button {
    justify-content: center;
  }

  .nav_button span {
    display: none;
  }

  .sidebar {
    width: auto;
    padding: 0 15px;
    min-width: 70px;
  }

}
