.item {
    padding: 5px 15px;
    display: flex;
    background-color: transparent;
    color: var(--black);

    &:hover {
        background: rgba(3, 3, 3, 0.13);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.31);
    }
}

.messageContainer{
    display: flex;
    .avatarContainer {
        margin-right: 12px;
    }


    .messageInfo {
        .text {
            text-align: left;
            font-size: 14px;
        }
    }


    .buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        .buttonAccept {
            border-color: #29C941;
            & svg {
                color: #29C941;
                fill: #29C941;
            }
        }
        .buttonDecline {
            border-color: #FA5D55;
            & svg {
                color: #FA5D55;
                fill: #FA5D55;
            }
        }
    }
}

@media screen  and (max-width: 400px) {
    .buttons {
        flex-wrap: wrap;
    }
}
