
.title{
  display: flex;
  align-items: center;
  gap: 10px;

  font: var(--font-m);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.linkedUsers {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.space_member{
  display: flex;
  flex-direction: row;
  align-items: center;
  font: var(--font-s);
  gap: 10px;
}

.userAvatar {
  flex-shrink: 0;
}

.userName {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 50px);
}

@media screen and (max-width: 1200px){
    .title span {
      display: none;
    }

  .title {
    justify-content: center;
  }

    .space_member{
      p {
        display: none;
      }
    }
}
