$background: #fff;
$hover: var(--iconColorHover);
$hoverBorder: var(--iconColorHover);

.full {

    background-color: var(#{--ButtonBg});
    position: relative;
    font: var(--font-m);
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px;
    border-radius: 10px;

    // &.loadingButton {
    //     box-shadow: 0 0 0 0 #000;
    // }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(#{--ButtonText});

       
        &.invisible {
            visibility: hidden;
        }
    }

    .loading {
        display: flex;
        position: absolute;
        left: calc(50% - 10px);
        top: calc(50% - 10px);
    }

   

    &:hover {
        border: 1px solid $hoverBorder;
    }
    &:disabled {
        cursor: default;
        background: var(--ButtonBg);

       
    }
    .iconContainer {
        margin-right: 5px;
        
    
   }

}

.clear{
    border: none;
    background-color: transparent;
    font: var(--font-m);
    cursor: pointer;
    
}