

.full {
    background-color: var(#{--ButtonBg});
    position: relative;
    font: var(--font-m);
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid transparent;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--ButtonText);

       
        &.invisible {
            visibility: hidden;
        }
    }

    .loading {
        display: flex;
        position: absolute;
        left: calc(50% - 10px);
        top: calc(50% - 10px);
    }

   
    .square {
        padding: 0;
    }
    
    .square.s {
        width: var(--font-line-s);
        height: var(--font-line-s);
    }
    
    .square.m {
        width: var(--font-line-m);
        height: var(--font-line-m);
    }
    
    .square.l {
        width: var(--font-line-l);
        height: var(--font-line-l);
    }
    
    &:hover {
        background-color: var(--ButtonBorderHover);
        color: var(--ButtonColorHover);
        border: 1px solid rgba(128, 128, 128, 0.259);

    }
    &:disabled {
        cursor: default;
        background: var(--ButtonBg);

       
    }
    .iconContainer {
        margin-right: 5px;
        
    
    }

}

.s{
    padding: 6px;
}

.m{
    padding: 9px;
}

.l{
    padding: 10px;
}

.clear{
    border: none;
    background-color: transparent;
    font: var(--font-m);
    cursor: pointer;
    
}