.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    //color: var(--ButtonText);
    gap: 8px;
    //color: var(--white);
    &.invisible {
        visibility: hidden;
    }
}

.full {
    background-color: var(--LRtitleColor);
    color: var(--wbText);
    position: relative;
    font: var(--font-m);
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0);

    &:hover {
        background-color: var(--ButtonBorderHover);
        color: var(--ButtonColorHover);
        border: 1px solid rgba(128, 128, 128, 0.259);
    }
    &:disabled {
        cursor: default;
        background: var(--ButtonBg);
    }
}

.loading {
    display: flex;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}


.square {
    padding: 0;
}

.square.s {
    width: var(--font-line-s);
    height: var(--font-line-s);
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}


.iconContainer {
    margin-right: 5px;


}

.s{
    padding: 6px;
    font: var(--font-s);
    border-radius: 12px;
}

.m{
    padding: 4px 10px;
    font: var(--font-m);
    border-radius: 12px;

}

.l{
    padding: 10px;
    font: var(--font-l);
    border-radius: 14px;
}

.button {
    cursor: pointer;
    //border: 2px solid;
    &:hover {
        background-color: rgb(68 68 68 / 14%);
    }
}

.clear{
    border: none;
    background-color: transparent;
    font: var(--font-m);
    cursor: pointer;

}

.accent {
    cursor: pointer;
    background-color: var(--HeaderBg);
    color: var(#{--taskTextColor});
    // padding: 6px 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid var(--HeaderBg);;

    &:hover {
       background-color: rgb(213 180 245 / 79%);
    }
}

.white {
    color: var(--white);
    border-color: var(--white);
    background: transparent;

}

.black {
    color: var(--black);
    border-color: var(--black);
    background: transparent;
}

.red {
    color: var(--red);
    border-color: var(--red);
    background: transparent;

}

.green {
    color: var(--green);
    border-color: var(--green);
    background: transparent;
}

.notification {
    border-radius: 5px;
    border: 1px solid;
    background: rgba(255, 255, 255, 0.40);
    color: #242424;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 10px;

    & svg {
        height: 17px;
        width: 17px;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.60);
    }
}




.sharp {
    border-radius: 0;
}


.noBorder {
    border: none;
}

@media screen and (max-width: 460px) {
    .full {
        padding: 4px;
        font-size: 10px;
    }
}
