.InputWrapper{
    display: flex;
    flex-direction: column;
    label {
        font: var(--font-m);
        color: var(--altWbText);
        padding: calc(var(--InputPadding) - 4px);
    }
    input {
        border: none;
        padding: var(--InputPadding);
        background-color: var(--InputBg);
        color: var(--InputText);
        border-radius: var(--InputRadius);
        font: var(--font-m);


    }

    input::placeholder {
        color: var(--InputPlaceholder);
    }


}

.clear {
    input {
        border: none;
        outline: none;
        background: transparent;

    }
    input:hover {
        outline: solid transparent;
    }
}

.bordered {
    input {
        border: 1px solid black;
        outline: none;
    }
    input:hover {
        outline: solid #808080;
    }
}
.primary {
    label {
        color: var(--InputLabel)
    }
    input {
        border: none;
        padding: var(--InputPadding);
        background-color: var(--InputBg);
        color: var(--InputText);
        border-radius: var(--InputRadius);
        font: var(--font-m);
    }
}

.error {
    color: red;
    padding: calc(var(--InputPadding) - 4px);
}

.white {
    label {
        color: var(--altWbText)
    }
    input {
        border: 2px solid var(--black);
        padding: var(--InputPadding);
        background-color: var(--white);
        color: var(--black);
        border-radius: var(--InputRadius);
        font: var(--font-m);
    }
}

