.InputWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3px;

    label {
        font-size: 14px;
        color: var(--altWbText);
        padding-left: calc(0px);
        text-align: left;
    }
    input, textarea {
        border: none;
        padding: var(--InputPadding);
        //background-color: var(--InputBg);
        color: var(--InputText);
        border-radius: var(--InputRadius);
        font: var(--font-s);
        background-color: var(--taskBg);
        resize: none;

        &:focus {
            outline: none;
        }
    }

    input::placeholder {
        color: var(--InputPlaceholder);
    }


}

.showPass {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 45px;
    color: var(--altWbText);
    cursor: pointer;
    justify-content: center;
}

.clear {
    input {
        border: none;
        outline: none;
        background: transparent;

    }
    input:hover {
        outline: solid transparent;
    }
}

.bordered {
    input {
        border: 1px solid black;
        outline: none;
    }
    input:hover {
        outline: solid #808080;
    }
}
.primary {
    label {
        color: var(--InputLabel)
    }
    input {
        border: none;
        padding: var(--InputPadding);
        background-color: var(--taskBg);
        color: var(--InputText);
        border-radius: var(--InputRadius);
        font: var(--font-s);
    }
}

.error {
    color: red;
    padding: calc(var(--InputPadding) - 4px);
}

.white {
    label {
        color: var(--altWbText)
    }
    input {
        border: 2px solid var(--black);
        padding: var(--InputPadding);
        background-color: var(--white);
        color: var(--black);
        border-radius: var(--InputRadius);
        font: var(--font-m);
    }
}

