.option {
  display: flex;
  align-items: center;
  padding: var(--InputPadding);
  color: var(--InputText);
  cursor: pointer;

  &:hover {
    background-color: var(--ButtonBorderHover);
    box-shadow: inset  0 0 1px 0 var(--taskTextColor);
  }

  .image {
    margin-right: 8px;
  }

  .content {
    .heading {
      font-size: 15px;
      margin: 0;
      line-height: 18px;
    }

    .text {
      font-size: 12px;
    }
  }
}
