// ! scss переменные

// светлая тема
$body-background-light: #C2B8FF;
$darker-background-light: #666186;
$columnBg-light: #EBECF0;
$taskBg-light: #FFFFFF;
$taskTextColor-light: #000000;
$buttonTextColor-light: #5E6C84;
$popupBg-light: #FFFFFF;
$iconColor-light: #888888;
$iconColorHover-light: #313131;

// темная тема
$body-background-dark: #19032E;
$darker-background-dark: rgba(25, 24, 32, 0.76);
$columnBg-dark: #424242;
$taskBg-dark: #585858;
$taskTextColor-dark: #F0F0F0;
$buttonTextColor-dark: #C7C7C7;
$popupBg-dark: #424242;
$iconColor-dark: #888888;
$iconColorHover-dark: #d8d8d8;

// для создания темной и светлой версии стилей нужно сначала
// создать ДВЕ переменных scss с постфиксами light и dark, далее
// создать ТРИ css переменных с постфиксами light, dark и default
// далее в компонентах мы используем ТОЛЬКО переменные CSS с постфиксом DEFAULT
// таким образом мы как бы используем значение одной переменной, но при этом саму
// переменную можно менять, используя ThemeContext. Контекст просто переключает значение
// переменной default на значение той же группы с постфиксом light / dark
// в зависимости от выбранной темы


// ! css переменные

:root {
  --body-bg-light: #{$body-background-light};
  --body-bg-dark: #{$body-background-dark };
  --body-bg-default: var(#{--body-bg-dark});

  --darker-bg-light: #{$darker-background-light};
  --darker-bg-dark: #{$darker-background-dark};
  --darker-bg-default: var(#{--darker-bg-dark});

  --columnBg-light: #{$columnBg-light};
  --columnBg-dark: #{$columnBg-dark};
  --columnBg-default: var(#{--columnBg-dark});

  --taskBg-light: #{$taskBg-light};
  --taskBg-dark: #{$taskBg-dark};
  --taskBg-default: var(#{--taskBg-dark});

  --taskTextColor-light: #{$taskTextColor-light};
  --taskTextColor-dark: #{$taskTextColor-dark};
  --taskTextColor-default: var(#{--taskTextColor-dark});

  --buttonTextColor-light: #{$buttonTextColor-light};
  --buttonTextColor-dark: #{$buttonTextColor-dark};
  --buttonTextColor-default: var(#{--buttonTextColor-dark});

  --popupBg-light: #{$popupBg-light};
  --popupBg-dark: #{$popupBg-dark};
  --popupBg-default: var(#{--popupBg-dark});

  --iconColor-light: #{$iconColor-light};
  --iconColor-dark: #{$iconColor-dark};
  --iconColor-default: var(#{--iconColor-dark});

  --iconColorHover-light: #{$iconColorHover-light};
  --iconColorHover-dark: #{$iconColorHover-dark};
  --iconColorHover-default: var(#{--iconColorHover-dark});
}
