.app.dark {
    --body-bg: #19032e;
    --darker-bg: rgb(25 24 32 / 76%);
    --columnBg: #424242;
    --taskBg: #585858;
    --taskTextColor: #f0f0f0;
    --buttonTextColor: #c7c7c7;
    --popupBg: #424242;
    --iconColor: #888;
    --iconColorHover: #d8d8d8;
    --notificationBg: #585858;
    --notificationBgRead: #404040;

    /* Login / Registration */
    --LRbgColor: #19032E;
    --LRbodyBg: #12041F;
    --LRtitleColor: #B895DA;;
    --LRbtnColor: black;
    --LRLinkColor: #D9D9D9;
    --LRLangColor: #D9D9D9;
    --LRbtnbgColor: white;
}
