.app {
  --body-bg: #c2b8ff;
  --darker-bg: #666186;
  --columnBg: #ebecf0;
  --taskBg: #ffffff;
  --taskTextColor: #000000;
  --buttonTextColor: #5e6c84;
  --popupBg: #ffffff;
  --iconColor: #888888;
  --iconColorHover: #313131;

  --notificationBg: #ffffff;
  --notificationBgRead: #d5d5d5;
}
