.app {
    --body-bg: #c2b8ff;
    --darker-bg: #666186;
    --columnBg: #ebecf0;
    --taskBg: #fff;
    --taskTextColor: #000;
    --buttonTextColor: #5e6c84;
    --popupBg: #fff;
    --iconColor: #888;
    --iconColorHover: #313131;
    --notificationBg: #fff;
    --notificationBgRead: #d5d5d5;
}
