.app {
    --body-bg: #b895da;
    --darker-bg: #666186;
    --columnBg: #ebecf0;
    --taskBg: #fff;
    --BoardBg: #EBEBEB;
    --wbText: #fff; 
    --altWbText: #000;
    --taskTextColor: #000;
    --buttonTextColor: #5e6c84;
    --popupBg: #fff;
    --iconColor: #888;
    --iconColorHover: #313131;
    --notificationBg: #fff;
    --notificationBgRead: #d5d5d5;

    /* Button */
    --ButtonText: #5e6c84;
    --ButtonBg: #fff;
    --ButtonBorderHover: rgb(234, 234, 234);
    --ButtonColorHover: rgb(220, 220, 220);

    /* Header */
    --HeaderBg: #e4d8ef;
    
    /* Login / Registration */
    --LRbgColor: #19032E;
    --LRbodyBg: #B895DA;
    --LRtitleColor: white;;
    --LRbtnColor: white;
    --LRLinkColor: #D9D9D9;
    --LRLangColor: white;
    --LRbtnbgColor: rgb(122, 58, 155);


    /* Input  */
    --InputBg: white;
    --InputBorder: 1px solid gray;
    --InputText: black;
    --InputLabel: black;
    
    /* Modal */
    --ModalColor:  white;
}

