.body {
  padding: 24px;
  width: 100%;
  height: 100%;
}
.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  font-size: 28px;
}

.footer {
  font-size: 18px;
}

.header,
.footer {
  height: 55px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(#{--darker-bg-default});
  color: white;
}

.nickname {
  font-size: 16px;
  margin-right: 12px;
}
.tasksInfo > span {
  margin-right: 36px;
}

.header__cabinet {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.header__cabinet > .avatar {
  margin-right: 6px;
  position: relative;
}

.menu {
  width: 140px;
  padding: 8px 7px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: -60px;
  left: -80px;
  z-index: 10;
}

.menu > div {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: #000000;
}

.menu > div:hover {
  color: #676767;
}

.menu > div:first-child {
  margin-bottom: 7px;
}


.blocks__container {
  min-width: calc(100% - 50px);
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  justify-content: space-between;
}


.buttons {
  display: flex;
  flex-direction: column;
}

.buttons>*:not(:last-child) {
  margin-bottom: 6px;
}

.boardPageContainer {
  display: flex;
}