.wrapperContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    //position: relative;
    width: 100%;
    //overflow: hidden;
}


.columnsWrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    gap: 15px;
    flex-basis: 100%;
    flex-grow: 0;
    flex-wrap: nowrap;
    overflow-y: auto;

    width: 100%;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: var(--ScrollBg);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--ScrollThumb);
    }


}


.wrapper {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    flex-basis: 100%;
    position: relative;

    .buttons {
        margin-left: 15px;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    .buttons>*:not(:last-child) {
        margin-bottom: 6px;
    }
}


.newWrapper {
    display: flex;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: var(--ScrollBg);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--ScrollThumb);
    }
}


