.wrapperContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

}


.columnsWrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    gap: 15px;
    flex-basis: 100%;
    padding-bottom: 10px;

    flex-wrap: nowrap;
    overflow-y: auto;
    width: 100%;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: var(--ScrollBg);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--ScrollThumb);
    }

    //&::-webkit-scrollbar-track {
    //    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    //    border-radius: 10px;
    //    background-color: #f9f9fd;
    //}



    & > * {
        flex-basis: 300px;
        flex-shrink: 0;
    }
}


.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-basis: 100%;

    .buttons {
        margin-left: 15px;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    .buttons>*:not(:last-child) {
        margin-bottom: 6px;
    }
}
