.wrapperContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}


.columnsWrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    gap: 15px;
    flex-basis: 100%;
    flex-grow: 0;
    flex-wrap: nowrap;
    overflow-y: auto;
    width: 100%;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: var(--ScrollBg);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--ScrollThumb);
    }

    & > * {
        flex-basis: 300px;
        flex-shrink: 0;
    }
}


.wrapper {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    flex-basis: 100%;

    .buttons {
        margin-left: 15px;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    .buttons>*:not(:last-child) {
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 550px) {
    .columnsWrapper > * {
        flex-basis: 100%;
    }
}
