.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30vw;;
    width: 50%;
    height: 100%;
}

.center {
    position: relative;
    background-color: black;
    transform: prespective(1000px) translate(-50%, -50%);
    transform: skewY(15deg);
    transition: 0.5s;
}

.center:hover {
    transform: prespective(1000px) translate(-50%, -50%);
    transform: skewY(0deg);
}

.center h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff;
    transform-style: preserve-3d;
    transition: 0.8s;
}

.center h1 span:nth-child(1) {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.center h1 span:nth-child(2) {
    color: var(#{--taskTextColor});
    transform: translate(-50%, -50%) skewX(-60deg);
    left: -25px;
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.center h1 span:nth-child(3) {
    transform: translate(-50%, -50%) skewY(0deg);
    left: -50px;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.center:hover h1 span:nth-child(2),
.center:hover h1 span:nth-child(3) {
    transform: translate(-50%, -50%) skewX(0deg);
    left: 0;
    color: #fff;
}


.langSwitcher{
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 800;        
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-color: var(--LRLangColor)
}

.themeSwitcherWrapper{
    position: absolute;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
}

.langSwitcherWrapper{
    position: absolute;
    right: 0;
    padding: 20px;
}

.themeSwitcher{
    svg{
        height: 30px;
    }
}

@media screen and (width >= 800px) and (width <= 1100px) {
    .center h1 span {
        font-size: 3rem;
    }

    .center h1 span:nth-child(2) {
        left: -19px;
    }

    .center h1 span:nth-child(3) {
        left: -38px;
    }
}

@media screen and (width <= 800px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .center h1 span {
        font-size: 1.5rem;
    }

    .title_wrapper {
        img {
            display: none;
        }
    }
    .logo {
        display: flex;
        width: 75%;
        justify-content: center;
        height: 30%;
    }

    .center h1 span:nth-child(2) {
        left: -9px;
    }

    .center h1 span:nth-child(3) {
        left: -18px;
    }

 
}

