.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.signup {
    background-color: var(--taskBg);
    border: 2px solid black;
    color: var( --taskTextColor );
    padding: 40px;
    margin: auto;
    width: 500px;
}

.signup__title {
    margin-bottom: 22px;
    letter-spacing: 0.1em;
}

.signup__progress {
    margin-bottom: 16px;
}

.signup__body {
    display: flex;
    flex-direction: column;
}

.signup__input {
    margin-top: 8px;
    padding: 16px;
    color: black;
    width: 100%;
    border: 1px solid black;
    background-color: white;
}

.signup__btn {
    background-color: var(--taskTextColor);
    color: var(--popupBg);
    margin-top: 4px;
    padding: 8px;
    width: 100%;
}

.signup__label_error {
    color: red;
}

.signup__linkArea span {
    letter-spacing: 2px;
}

.signup__linkArea {
    margin-top: 4px;
}

.center {
    position: relative;
    background-color: black;
    transform: prespective(1000px) translate(-50%, -50%);
    transform: skewY(15deg);
    transition: 0.5s;
}

.center:hover {
    transform: prespective(1000px) translate(-50%, -50%);
    transform: skewY(0deg);
}

.center h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff;
    transform-style: preserve-3d;
    transition: 0.8s;
}

.center h1 span:nth-child(1) {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.center h1 span:nth-child(2) {
    color: var(#{--taskTextColor});
    transform: translate(-50%, -50%) skewX(-60deg);
    left: -25px;
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.center h1 span:nth-child(3) {
    transform: translate(-50%, -50%) skewY(0deg);
    left: -50px;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.center:hover h1 span:nth-child(2),
.center:hover h1 span:nth-child(3) {
    transform: translate(-50%, -50%) skewX(0deg);
    left: 0;
    color: #fff;
}

.themeSwitcherWrapper{
    position: absolute;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
}
.langSwitcherWrapper{
    position: absolute;
    right: 0;
    padding: 20px;
}
.themeSwitcher{
    svg{

    height: 30px;
    color: white;
    }
    
}

@media screen and (width >= 800px) and (width <= 1100px) {
    .center h1 span {
        font-size: 3rem;
    }

    .center h1 span:nth-child(2) {
        left: -19px;
    }

    .center h1 span:nth-child(3) {
        left: -38px;
    }
}

@media screen and (width <= 800px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .center h1 span {
        font-size: 2.5rem;
    }

    .logo {
        width: 100%;
        height: 20%;
        align-items: flex-end;
    }

    .signup {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: auto;
        width: 86%;
        border-radius: 30px;
    }

    .signup__title {
        color: white;
        margin-bottom: 0;
    }

    .signup__label {
        color: white;
    }

    .center h1 span:nth-child(2) {
        left: -15px;
    }

    .center h1 span:nth-child(3) {
        left: -30px;
    }

    .signup__btn {
        background-color: white;
        color: black;
        margin-top: 4px;
        padding: 8px;
        width: 100%;
    }

    .signup__progress {
        color: white;
    }
}

.singup__avatar__block {
    margin-bottom: 15px;

    .avatar__fileInput {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--taskTextColor);
        cursor: pointer;
        font-size: 16px;
    }
}
