.button {
    position:   relative;
    
    svg {
        width: 30px;
        height: 30px;
    }

    .count {
        position: absolute;
        top: 20px;
        right: 0;
        color: #fff;
        width: 15px;
        height: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        background-color: #ff6767;
        border-radius: 20px;
    }
}

.notificationsContainer {
    cursor: auto;
    width: 350px;
    position: absolute;
    top: 45px;
    padding: 15px 0;
    border-radius: 15px;
    right: 0;

    color: var(--taskTextColor);
    font-size: 14px;
}