
.signup {
    background-color: var(--LRbodyBg);
    border: 3px solid white;
    border-radius: 20px;
    padding: 36px;
    margin: auto;
    width: 500px;
}
.title_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    svg {
        position: absolute;
        width: 80px;
        left: -10px;
        top: 10px;
    }
   
}
.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 6px;
    letter-spacing: 0.1em;
    color: var(--LRtitleColor);
    text-transform: uppercase;
}

.progress {
    margin-bottom: 8px;
    margin-top: 20px;;
    color: white;
}

.body {
    display: flex;
    flex-direction: column;
}
.label {
    margin-top: 30px;
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

.input {
    margin-top: 8px;
   margin-bottom: 12px;
}
.btn_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;;
}
.btn {
    background-color: var(--LRbtnbgColor);
    border-radius: 10px;
    border: none;
    color: var(--LRbtnColor);
    margin-top: 4px;
    padding: 8px;
    width:140px;
    height: 50px;
    text-align: center;
    flex-shrink: 0;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    &:hover{
        border: 1px solid white;
    }
    
}


.label_error {
    color: rgba(255, 68, 0, 0.643);
}

.linkArea span {
    text-decoration: underline;
    color: var( --taskTextColor);
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    cursor: pointer;

}

@media screen and (width <= 800px) {

    .title_wrapper {
        svg {
            display: none;
        }
    }

    .signup {
        margin-left: auto;
        margin-top: 1px;
      
        width: 90%;
        border-radius: 30px;
        padding: 28px;
    }

    .title {
        color: white;
        margin-bottom: 0;
        font-size: 18px;
    }

    .label {
        color: white;
        font-size: 12px;
    }

    .btn {
        margin-top: 4px;
        padding: 8px;
        width: 100%;
    }

    .progress {
        margin-top: 4px;
        height: 40px;
    
        color: white;
        font-size: 12px;
    }

    .input{
        font-size: 12px;
        padding: 12px;
    }
    .label_error {
        font-size: 10px;
    }
}

.avatar__block {
    margin-bottom: 15px;

    .avatar__fileInput {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;
        font-size: 12px;
    }
}
