.input {
    input {
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 14px;
    border: 1px solid black;
    }

}

.title_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    svg {
        position: absolute;
        width: 80px;
        fill: black;
        color: black;
        left: 16px;
        top: 16px;
    }
}
.form {
    background-color: var(--LRbodyBg);
    border: 2px solid var(--altWbText);
    border-radius: 20px;
    padding: 36px;
    margin: auto 20px;
    width: 500px;
}

.title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 6px;
    letter-spacing: 0.1em;
    color: var(--LRtitleColor);
    text-transform: uppercase;

}

.linkArea_link {
    text-decoration: underline;
    color: var( --taskTextColor);
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}
.linkArea{

   display: flex;
   justify-content: center;
   align-items: center;
}
.linkArea_descr {

    font-size: 12px;
    color: var(--altWbText);
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}
.btn_wrapper{

    display: flex;
    justify-content: center;
    border: none;
}
.btn {
    background-color: var(--LRbtnbgColor);
    border-radius: 10px;
    border: none;
    color: var(--white);
    margin-top: 4px;
    padding: 8px;
    width:140px;
    height: 50px;
    text-align: center;
    flex-shrink: 0;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    &:hover{
        opacity: .8;
    }
}

.label {
    margin-top: 30px;
    color: var(--altWbText);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 12px;
}


.remember {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    //color: var(--LRtitleColor);
    color: var(--altWbText);
}

.remember input {
    width: 14px;
    height: 14px;
    margin-right: 16px;
    color: var(--taskTextColor);

}
.error {
    color: rgba(255, 68, 0, 0.643);

}
.errorSpace{
    height: 20px;
}

@media screen and (width <= 800px) {

    .label {
        color: var(--altWbText);
        font-size: 12px;
    }

    .remember {
        color: var(--altWbText);
        font-size: 12px;
    }
    .btn {


        margin-top: 4px;

        width: 100%;
        font-size: 14px;
    }
    .title_wrapper {
        svg {
            display: none;
        }

    }
    .linkArea_link {
        font-size: 12px;
    }

    .form {
        margin: 0 auto;
        //height: 460px;
        width: 90%;
        border-radius: 30px;
        padding: 28px;
    }
    .title {
        color: var(--altWbText);
        margin-bottom: 0;
        font-size: 18px;
    }


    .linkArea_descr {
        color: var(--altWbText);
        font-size: 12px;
    }
    .input{
        font-size: 12px;
        //padding: 12px;
    }
}

