.input {
    margin-top: 8px;
    padding: 16px;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.8px;
}

.title_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    svg {
        position: absolute;
        width: 80px;

        left: 16px;
        top: 16px;
    }
   
}
.form {
    background-color: var(--LRbodyBg);
    border: 3px solid white;
    border-radius: 20px;
    padding: 36px;
    margin: auto;
    width: 500px;
    height: 520px;

}

.title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 6px;
    letter-spacing: 0.1em;
    color: var(--LRtitleColor);
    text-transform: uppercase;
    
}

.linkArea_link {
    text-decoration: underline;
    color: var( --taskTextColor);
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}
.linkArea{
   
    margin-right: 12px;
}
.linkArea_descr {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: white;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}
.btn_wrapper{
    display: flex;
    justify-content: center;
    border: none;
}
.btn {
    background-color: var(--LRbtnbgColor);
    border-radius: 10px;
    border: none;
    color: var(--LRbtnColor);
    margin-top: 4px;
    padding: 8px;
    width:140px;
    height: 50px;
    text-align: center;
    flex-shrink: 0;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    &:hover{
        border: 1px solid white;
    }
}

.label {
    margin-top: 30px;
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}


.remember p {
    margin-top: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: var(--LRtitleColor);
    margin-bottom: 28px;
  
}
.remember p input {
    width: 14px;
    height: 14px;
    margin-right: 16px;
    color: var(--taskTextColor);
  
}
.error {
    color: rgba(255, 68, 0, 0.643);

}

@media screen and (width <= 800px) {

    .label {
        color: white;
        font-size: 12px;
    }

    .remember {
        color: white;
        font-size: 12px;
    }
    .btn {
     

        margin-top: 4px;
     
        width: 100%;
        font-size: 14px;
    }
    .title_wrapper {
        svg {
            display: none;
        }

    }
    .linkArea_link {
        font-size: 12px;
    }
  
    .form {
        margin-left: auto;
        margin-top: 1px;
        height: 460px;
        width: 90%;
        border-radius: 30px;
        padding: 28px;
    }
    .title {
        color: white;
        margin-bottom: 0;
        font-size: 18px;
    }


    .linkArea_descr {
        color: white;
        font-size: 12px;
    }
    .input{
        font-size: 12px;
        padding: 12px;
    }
}

