.colorPicker {
    padding-bottom: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column wrap;
    position: relative;


    .pickerBlock {
        margin-top: -14px !important;
        display: flex;
        width: 257px;
      padding: 20px;
      
        flex: 0 1 calc(20% - 8px);

    }

    p {
        text-align: center;
        font-size: 18px;
        color: var(#{--taskTextColor});
        margin-bottom: 12px;
    }
}
