.colorPicker {
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-flow: column wrap;
    position: relative;


    .pickerBlock {
        --circleSize: 28px;
        //margin-top: -14px !important;
        display: grid !important;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        grid-auto-rows: calc(var(--circleSize) + 10px);
        //width: 257px;
        width: 100% !important;
      //padding: 20px;
      //  padding: 10px 0;

        flex: 0 1 calc(20% - 8px);

    }

    p {
        align-self: stretch;
        color: var(#{--taskTextColor});
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 14px;
    }
}
