.header {
    font-size: 28px;
}

.header__logo {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.nickname {
    font-size: 16px;
    margin-right: 12px;
}

.header__cabinet {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    div {
         color: white
    }
    p {
        margin-left: 20px;
    }
}

.header__cabinet > .avatar {
    margin-right: 6px;
    position: relative;
    display: flex;


    align-items: center;
    justify-content: center;
    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }
    span{

           display: flex; 
    align-items: center;
    }
}


.header__notifications {
    cursor: pointer;
}

.menu {

    display: flex;  
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content:  space-evenly;
    padding: 8px 10px;
    background-color: transparent;
    align-items: center;
    border: 2px solid white;

    border-radius: 15px;
    position: absolute;
    right: -34px;
    bottom: -40px;
    // left: -80px;
    z-index: 10;

  
}

.menu > div {
    text-wrap: nowrap;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    cursor: pointer;
 
}

.menu > div:hover {
    color: #676767;
}



.leftmenu {
    display: flex;
    gap:15px;
}