.container {
    background-color: var(--BoardBg);
    color: var(#{--taskTextColor});
    border-radius: var(--borderRadiusPreview);
    padding: 12px;
    min-width: 150px;
    border: 2px solid var(--altWbText);
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 20%);;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .info {
        width: calc(100% - 30px);
        flex-shrink: 1;
        flex-grow: 0;
        font: var(--font-m);
        font-weight: 300;

        .title {
            display: block;
            white-space: nowrap;
            height: 30px;
            cursor: pointer;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 5px;
        }
    }

    .buttons {
        flex-basis: 20px;
        flex-shrink: 0;
    }
}

.owner {
    display: flex;
    gap: 5px;
}

.share__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.share__input {
    border-bottom: 1px solid black;
    padding: 4px;
    width: 100%;
    margin-bottom: 12px;
}

.share_button {
    color: var(--altWbText);
    padding: 0;
}
.delete_button {
    color: #e32400;
}

@media screen and (max-width: 460px) {
    .container {
        padding: 10px;
    }
    .heading{
        .info {
            font: var(--font-s);
        }
    }
}
