.container {
    background-color: var(#{--columnBg});
    color: var(#{--taskTextColor});
    border-radius: 10px;
    padding: 12px;
    min-width: 250px;
    height: 80px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title {
        display: block;
        flex-basis: 100%;
        white-space: nowrap;
        height: 40px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
    }
    .buttons {
        flex-shrink: 0;
    }
}

.share__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.share__input {
    border-bottom: 1px solid black;
    padding: 4px;
    width: 100%;
    margin-bottom: 12px;
}
