.container {
    background-color: var(--BoardBg);
    color: var(#{--taskTextColor});
    border-radius: 10px;
    padding: 12px;
    min-width: 250px;
    height: 80px;
    border: 2px solid var(--altWbText);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .info {
        font: var(--font-m);
        font-weight: 300;
    }
    .title {
        display: block;
        flex-basis: 100%;
        white-space: nowrap;
        height: 30px;
        cursor: pointer;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
    }
    .buttons {
        flex-shrink: 0;
    }
}

.share__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.share__input {
    border-bottom: 1px solid black;
    padding: 4px;
    width: 100%;
    margin-bottom: 12px;
}

.share_button {
    margin-right: 5px;
    color: var(--altWbText);
}
.delete_button {
    color: #e32400;
}