.container {
    width: 30%;
    min-width: 300px;
    height: 100%;
    align-self: stretch;
    margin-left: 25px;
    margin-right: -24px;
    border-radius: 10px 0 0 10px;
    background-color: var(--columnBg);
    padding: 20px;
}

.buttons {
    margin-top: 20px;
    display: flex;

    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

.title,
.description {
    color: var(--taskTextColor);
}

.title {
    display: flex;
    justify-content: space-between;

    .icon {
        font-size: 25px;
        color: var(#{--iconColor});

        &:hover {
            color: var(#{--iconColorHover});
        }
    }
}

.linkedUserInfo {
    display: flex;
    gap: 5px;
}
