.container {
    //width: 30%;
    min-width: 240px;
    max-width: 100%;
    position: absolute;

    align-self: stretch;
    margin-left: 25px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px  0 0 20px;
    border-bottom: 2px solid var(--altWbText);
    border-left: 2px solid var(--altWbText);
    border-top: 2px solid var(--altWbText);
    background-color: var(--columnBg);
    padding: 20px;
}
.descr {
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttons {
    margin-top: 20px;
    display: flex;

    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

.headerColor {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    height: 30px;
    border-radius: 18px 0px 0px 0px;
    background-color: gray;


}

.title,
.description {
    color: var(--taskTextColor);
}

.title {
    p {
         font: var(--font-m);
         font-weight: 600;
    }
    margin-top: 26px;
    display: flex;
    justify-content: space-between;

    .icon {
        font-size: 25px;
        color: var(#{--iconColor});

        &:hover {
            color: var(#{--iconColorHover});
        }
    }
}

.description {
    font: var(--font-s);
    display: flex;
    align-items: center;
    min-height: 40px;
}
.linkedUserInfo {
    min-height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;

    &.marginBottom {
        margin-bottom: 10px;
    }
}
