
.footer {
  font-size: 18px;
}

.header,
.footer {
  height: 55px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(#{--darker-bg-default});
  color: white;
}

.nickname {
  font-size: 16px;
  margin-right: 12px;
}
.tasksInfo > span {
  margin-right: 36px;
}