.title {
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(#{--taskTextColor});
    margin-bottom: 20px;

    .button {
        margin-left: 15px;
        font-size: 20px;
        line-height: 20px;
        padding: 0 5px;
        color: var(#{--iconColor});

        &:hover {
            color: var(#{--iconColorHover});
        }
    }
}

.input {
    width: 100%;
    max-width: 500px;
}
