.BoardPageHeader{
    position: relative;
}

.title {
    position: absolute;
    top: -60px;
    height: 47px;
    display: flex;
    margin-left: 10px;
    font: 14px;
    align-items: center;
    color: white;

    .button {
        margin-left: 15px;
    }
}

.input {
    width: 100%;
    //max-width: 500px;
}

.linkedUsers {
    margin-left: 15px;
    gap: 8px;
    display: flex;
}

.second {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap-reverse;
    gap: 15px;

    .shareButtons {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .share{
            display: flex;
            gap: 6px;
            align-items: center;
            border: 2px solid white;
            font-weight: 500;
            padding: 4px 6px;
            color: white;
            border-radius: 15px;
            cursor: pointer;
        }
        .members{
            padding: 4px 6px;
            display: flex;
            gap: 6px;
            align-items: center;
            border: 2px solid white;
            font-weight: 500;
            color: white;
            border-radius: 15px;
            cursor: pointer;
        }
    }

    button {
        min-height: 52px;
    }
}

.add {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 500;
    padding: 4px 6px;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .title {
        margin-top: 10px;
        position: static;
        height: auto;
    }
}

@media screen and (max-width: 750px) {
        .shareButtons{
            //flex-basis: 100%;
            //justify-content: flex-end;
        }
}

@media screen and (max-width: 550px) {
    .shareButtons{
        justify-content: space-between;
    }
    .share, .members {
        flex-basis: 100%;
    }
}


@media screen and (max-width: 460px) {
    .shareButtons{
        flex-direction: column;
        height: 52px;

    }
    .second {
        flex-direction: column;
        .shareButtons {
            .share{
                //padding: 0px 2px 0px 10px;

            }
            .members{
                //padding: 0px 2px 0px 10px;
            }
        }
        button {
            font-size: 16px;
        }
    }
}
