.container {
    background-color: var(--BoardBg);
    border-radius: 20px;
    border: 2px solid var(--altWbText);
    padding: 16px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    //overflow: hidden;

    &.withColor {
        padding-top: 29px;
    }
    & > hr{
        height: 2px;
        margin-top: 1px;
        background: white;
        border-color: var(--altWbText);
        margin-bottom: 22px;
        padding: 0;
    }


        flex-basis: 300px;
        flex-shrink: 0;

}

.headerColor {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    height: 30px;
    border-radius: 18px 18px 0px 0px;
    background-color: #9d9d9d;
    padding: 0 10px;

    .columnButtons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;

        .moveColumnButton {
            opacity: 0.7;

            &.left {
                margin-right: auto;
            }

            &.right {
                margin-left: auto;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(#{--taskTextColor});
    margin-bottom: 7px;

    .columnButtons {
        display: flex;
        gap: 6px;
    }

    .deleteButton {
        &:hover {
            color: var(--red);
        }
    }

    .inputColumnTitle {
        background-color: transparent;
    }
}
.title {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: var(#{--taskTextColor});
    margin-bottom: 15px;
}



.taskListWrapper {
    margin-top: 5px;
    overflow-y: auto;
    //overflow-x: auto;
    border-radius: 10px;
    flex-grow: 1;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .container  {
        flex-basis: 250px;
    }
}
