.container {
    border-radius: 18px;
    background-color: #fff;
    border: 2px solid var(--altWbText);
    padding: 7px 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 100;

    &.completed {
        background-color: var(--completed);
        border: 2px solid var(--black);
    }
}

.title {
    align-items: center;
    //font-weight: 400;
    font-size: 18px;
    //line-height: 24px;
    //color: var(#{--taskTextColor});
    display: flex;
    .icon {
        //font-size: 20px;
        //display: inline-block;
        //margin-right: 10px;
        //color: #00c900;
    }
}

.button {
    background-color: transparent;
    padding: 0 10px;
    color: var(#{--iconColor});

    &:hover {
        color: var(#{--iconColorHover});
    }
}

.infoBlock {
    display: flex;
    align-items: center;
    gap: 5px;
}

