.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  label {
    font-size: 14px;
    color: var(--InputText);
    padding-left: calc(0px);
  }

  .selectButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: var(--InputPadding);
    background-color: var(--taskBg);
    color: var(--InputText);
    border-radius: var(--InputRadius);
    font: var(--font-s);
    .placeholder {

    }

    &.open {
      border-radius: var(--InputRadius) var(--InputRadius)  0 0  ;
    }
  }

  position: relative;
  .selectArea {
    border-radius:  0 0 var(--InputRadius) var(--InputRadius) ;
    background-color: var(--InputBg);
    max-height: 80px;
    padding-bottom: 5px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
