.blocks__container {
    //min-width: calc(100% - 50px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    align-items: start;
    grid-gap: 16px;
    justify-content: space-between;

    overflow-y: auto;
    max-height: calc(100vh - 20px);
    padding-bottom: 10px;
}

.buttons {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px;
    button {
        color: white;
        border: 2px solid white;
        border-radius: 15px;
        padding: 4px 8px;
        font-size: 16px;
    }
}


.boardPageContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

@media screen and (max-width: 450px) {
    .blocks__container {
        grid-template-columns: 1fr;
    }

}
