.blocks__container {
    min-width: calc(100% - 50px);
    //margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    align-items: start;
    grid-gap: 16px;
    justify-content: space-between;

    overflow-y: auto;
    max-height: calc(100vh - 200px);
    padding-bottom: 10px;
}

.buttons {
    margin: 24px 0;
    //margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    button {
        color: white;
        border: 2px solid white;
        border-radius: 15px;
        //width: 42px;
        //height: 42px;
    }
}


.boardPageContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 450px) {
    .blocks__container {
        grid-template-columns: 1fr;
    }

}
